/* ------------------ Fonts ------------------ */
@font-face {
  font-family: 'axiforma-light';
  src: url(../assets/font/Axiforma-Light.ttf);
}
@font-face {
  font-family: 'axiforma-medium';
  src: url(../assets/font/Axiforma-Medium.ttf);
}
@font-face {
  font-family: 'axiforma-regular';
  src: url(../assets/font/Axiforma-Regular.ttf);
}
@font-face {
  font-family: 'axiforma-semibold';
  src: url(../assets/font/Axiforma-SemiBold.ttf);
}
@font-face {
  font-family: 'axiforma-bold';
  src: url(../assets/font/Axiforma-Bold.ttf);
}

@font-face {
  font-family: 'axiforma-extrabold';
  src: url(../assets/font/Axiforma-ExtraBold.ttf);
}
/* ---------x-------- Fonts ---------x--------- */


/* ------------------ Global ------------------ */
* {
  font-family: 'axiforma-regular', 'Helvetica', sans-serif;
  -webkit-appearance: none !important;
  border-radius: 0;
}

html, body, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

hr{
  width: 95%;
}
/* ---------x-------- Global ---------x--------- */


/* ------------------ Utilities ------------------ */
.extraBold{
  font-family: 'axiforma-extrabold', 'Helvetica', sans-serif;
}

.bold{
  font-family: 'axiforma-bold', 'Helvetica', sans-serif;
}

.semiBold{
  font-family: 'axiforma-semibold', 'Helvetica', sans-serif;
}

.wrapper{
  max-width: 1080px;  
}

.yt-link{
  color: #EF1F1F;
  text-decoration: underline;
}

.yt-link:hover{
  color: #C91D1D;
}

.blog-link{
  color: #000095;
  text-decoration: underline;
}

.blog-link:hover{
  color: #020251;
}

/* ------------------ Main Site Section ------------------ */

      /* ------------------ Header ------------------ */

      .site-header{
        height: 66vh;
        position: relative;
  }

  /*-- Card --*/

  .profile-card{
        margin-top: 2.1875rem;
        margin-bottom: 2.8125rem;
        padding: 1.5625rem .625rem;
        background-color: #fff;
        width: 80%;
        max-width: 37rem;
        box-shadow: 0px 6px 52px -25px rgba(0,0,0,0.68);

        transition: 0.3s all ease-in-out;
  }

  .profile-card:hover{
        transform: scale(1.015);
  }

  .profile-card img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        height: 7.8rem;
  }

  .profile-card h1 {
        margin-top: 1rem;
        text-align: center;
        font-size: 1.5rem;
  }

  .profile-card p {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 0.75rem;
        color: #A1A1A1;
  }

  .profile-card .btn-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
  }

  .profile-card .btn-section a{
        transition: 0.2s all ease-in-out;
        text-decoration: none;
  }

  .profile-card .btn-section a:hover{
        transform: scale(1.05);
  }

  .profile-card .btn-section a:nth-child(1){
        margin-right: 1.2rem;
        padding: 0.6rem 1.25rem;
        background-color: #000;
        font-size: 0.75rem;
        color: #fff;
  }

  .profile-card .btn-section a:nth-child(2){
        padding: 0.6rem 2.1rem;
        background-color: #E6E6E6;
        font-size: 0.75rem;
        color: #676767;
  }

  /*--x Card x--*/

  /*-- Socials --*/

  .socials{
        display: flex;
        justify-content: center;
        margin-top: 4.5rem;
  }

  .socials a {
        display: block;
        font-size: 2rem;
        color: black;

        transition: 0.2s all ease-in-out;
  }

  .socials a:hover {
        transform: scale(1.05);
  }

  .socials a:nth-child(2), .socials a:nth-child(3) {
        margin-left: 1rem;
  }

  /*-- iPhone 8 --*/
  @media only screen and (device-height: 667px){
        .socials{
              margin-top: 1.5rem;
        }
  }
  /*--x iPhone 8 x--*/

  /*--x Socials x--*/

  /*-- Email --*/

  .email-btn{
        position: absolute;
        right: 2rem;
        bottom: 0rem;
        background-color: #000;
        color: #fff;
        padding: .75rem .75rem;
        border-radius: 50%;
        font-size: 1rem;
        line-height: 0;

        transition: 0.2s all ease-in-out;
  }

  .email-btn:hover{
        color: #fff;
        transform: scale(1.05);
  }

  /*--x Email x--*/

  /*-- Down --*/

  .chevron-header{
        position: absolute;
        bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        color: #9A9A9A;
        animation: MoveUpDown 2s ease-in-out infinite;
  }

  @keyframes MoveUpDown {
        0%, 100% {
          bottom: 15px;
        }
        50% {
          bottom: 30px;
        }
  }

  /*--x Down x--*/

  /* ---------x-------- Header ---------x--------- */

/* ---------x-------- Main Site Section ---------x--------- */

/* Viewport is more than 1024px */
@media only screen and (min-width: 1024px){
      
  /*-- Card --*/
        
  .profile-card{
        margin-top: 5rem;
  }

  .site-header{
        height: 78vh;
  }

  /*-- Card --*/

  .profile-card{
        padding: 3rem 3rem 2rem;
        max-width: 26rem;
  }

  .profile-card img {
        height: 13rem;
  }

  .profile-card h1 {
        margin-top: 2rem;
        font-size: 2.2rem;
  }

  .profile-card p {
        font-size: 1rem;
  }

  .profile-card .btn-section{
        margin-top: 3rem;
  }

  .profile-card .btn-section a:nth-child(1){
        font-size: 1rem;
  }

  .profile-card .btn-section a:nth-child(2){
        padding: 0.6rem 2.60rem;
        font-size: 1rem;
  }

  /*--x Card x--*/
}

/* Viewport is more than 1800pxpx */
@media only screen and (min-width: 1800px){
      
  /*-- Card --*/
        
  .profile-card{
        margin-top: 15rem;
  }
}

/* Viewport is more than 750px */
@media only screen and (min-width: 750px){
  /* ------------------ Header ------------------ */

        /*-- Card --*/
  
        .profile-card{
              margin-top: 8rem;
              padding: 3rem 2rem 2rem;
              max-width: 25rem;
        }
  
        .profile-card img {
              height: 12rem;
        }
  
        .profile-card h1 {
              margin-top: 2rem;
              font-size: 2rem;
        }
  
        .profile-card p {
              font-size: 1rem;
        }

        .profile-card .btn-section a:nth-child(1){
              font-size: 1rem;
        }
  
        .profile-card .btn-section a:nth-child(2){
              padding: 0.6rem 2.60rem;
              font-size: 1rem;
        }
  
        /*--x Card x--*/
  /* ----------x------- Header ----------x------- */
  
}
